@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap");

li::marker {
  color: #8f19e8;
}

li span {
  position: relative;
  left: 5px;
}

#player-icon:hover path {
  fill: white;
}
html {
  height: 100vh;
}
body,
#root {
  height: 100%;
}
